<div id="configurationArea_1">
    <div id="configurationArea_1Content">

        <div id='songIconButton'>
            Amantes
        </div>

        <div id='artistIconButton'>
            Greicy ft Mike Bahía
        </div>
        
        <div id='donateArea'>
            {{ include('@Paypal/Default/index.html.twig') }}
            {{ include('@PayU/Default/index.html.twig') }}
        </div>
        
        <div id='songIconContent'>
            {{ include('@Song/Default/index.html.twig') }}
        </div>

        <div id='artistIconContent'>
            {{ include('@Artist/Default/index.html.twig') }}
        </div>

    </div>
</div>