MEDIA

<div id="mediaBundle">
    status Session
</div>

<script>
    window.onload = prepareMediaBundle();

    function prepareMediaBundle()
    {
        var form = $('#check-session-ajax');
        var url = form.attr('action');

        $.post(url, function (data)
        {
            var sessionStatus = data[0].sessionStatus;

            if (sessionStatus === "0")
            {
                var mediaBundle = document.getElementById('mediaBundle');
                mediaBundle.innerHTML = "mediaBundle... logout mode";
            } else
            {
                var mediaBundle = document.getElementById('mediaBundle');
                mediaBundle.innerHTML = "mediaBundle... login mode";
            }
        }).fail(function () {
            alert('ERROR');
        });
    }
</script>