<div
    style="z-index: 2;
    position: absolute;">
    {{ include('@Home/home/configuration/iconImage/videoSize.html.twig') }}
    {{ include('@Home/home/configuration/iconImage/displaceDivs.html.twig') }}
    {{ include('@Home/home/configuration/iconImage/fontColorDivs.html.twig') }}
    {{ include('@Home/home/configuration/iconImage/donate.html.twig') }}
</div>