
    input[type="file"] {
        margin: 0 0 15px;
        padding: 10px 1%;

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .principal {
        width: 80%;
        margin: 0 auto;
        padding: 3% 0 6% 0;
        clear: both;
    }

    .barra {
        background-color: #f3f3f3;
        border-radius: 5px;
        box-shadow: inset 0px 0px 5px rgba(0,0,0,.2);
        height: 25px;
    }

    .cancel {
        background: #ed1f3c !important;
    }

    .barra_azul {
        background-color: #247CC0;
        border-radius: 10px;
        display: block;
        height: 25px;
        line-height: 25px;
        text-align: center;
        width: 0%;
    }

    .barra_verde {
        background-color: #2EA265 !important;
    }

    .barra_roja {
        background-color: #DE3152 !important;
    }

    #form_subir {
        margin: 1.5% 0;
        padding: 2%;
    }

    span {
        color: #ffffff;
        font-weight: bold;
        line-height: 25px;
    }

    #barra_estado {
        font-weight: bold;
        line-height: 25px;
        transition-property: all;
        transition-duration: 0.5s;
    }

    div#barra_estado {
        -webkit-animation: barra_estadoAnimacion 20s;
        animation: primeraAnimacion 20s linear 2s infinite alternate;

    }

    @-webkit-keyframes barra_estadoAnimacion{
        0%{background-color: white;}
        25%{background-color: gray;}
        50%{background-color: blue;}
        100%{background-color: gray;}
    }














    .inputKeyword {
        display: inline-block;
    }

    .deleteKeyword {
        display: inline-block;
        background-color: white;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }

    #formUpdateVideo {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 400px;
        color: black;
    }

    #contentUpdateVideo {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
    }

    #formUpdateKeywords {
        position: absolute;
        top: 410px;
        left: 0px;
        width: 100%;
        height: 150px;
        color: black;
    }

    #contentUpdateKeywords {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
    }

    #formSendVideo {
        position: absolute;
        top: 570px;
        left: 0px;
        width: 100%;
        height: 70px;
        color: black;
    }

    #contentSendVideo {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
    }

    .formBgColor {
        position: absolute;
        background-color: white;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    #contentUpdateKeywords {
        position: absolute;
        left: 0px;
        right: 40px;
        top: 0px;
        bottom: 0px;
        z-index: 2;
    }
    
    #environmentToUpdateVideo {
        position: absolute; 
        overflow-x: hidden; 
        overflow-y: scroll; 
/*        background-color: #DE3152;*/
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    
    #labelIdKeyword {
        position: absolute;
        background-color: transparent;
        height: 30px;
        top: 0px;
        left: 0px;
        width: 90px;
        text-align: right;
        z-index: 3;
    }
    
    #inputIdKeyword {
        position: absolute;
        top: 0px;
        left: 100px;
        height: 30px;
        width: 220px;
        color: #1ab7ea;
        resize: none;
        overflow: hidden;
    }
    
    #buttonIdKeyword {
        position: absolute;
        background-color: white;
        height: 30px;
        width: 30px;
        right: 0px;
        top: 0px;
        cursor: pointer;
        z-index: 3;
    }
    
    #listOne {
        position: absolute; 
        top: 35px; 
        height: 115px;
        width: 100%;
        overflow-y: scroll;
    }