{#<video id="my_video" class="productMain containment-wrapper-video" width="100%" height="100%" 
       style="background-color: white;" muted='true' onloadstart="hello();">
    <source src="{{ asset('files'~'/'~products.videoProduct) }}" type="video/mp4">
</video>#}

<div id="my_video_environment" 
     {#style="display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     text-align: center; height: 100%; background-color: white;"#}>
    
    <video width="100%" id="my_video" muted='true' autoplay='true'>
        <source src="{{ asset('files'~'/'~'videos'~'/'~'Greeicy ft Mike Bahía  - Amantes (Video Oficial).mp4') }}" type="video/mp4">
    </video>

</div>