<div id="advertising_button">
    ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>ADVERTISING
    <br>
</div>


<script>
    
    function AdvertisingVideoBundle()
    {
        alert("AdvertisingVideoBundle");
    }
    
</script>    