<style>
    #nextVideoImage {
        position: absolute;
        {#background-color: white;#}
        height: 200px;
        width: 200px;
        top: -200px;
        left: 275px;
        z-index: 1;
        border: #1ab7ea;
        display: none;
    }
</style>

<div id='nextVideoImage'>
    
</div>

<div id='nextIconButton' class='animatedButton'
     style="position: absolute;
     height: 30px;
     width: 30px;
     top: 0px;
     left: 440px;
     z-index: 1;">
    <img class="shortIcon" 
         src="files/images/icons/playBanner/next.png" alt="Mountain View">
</div>

<script>    
    $('#nextIconButton')
    .mouseover(function () {
        explainNextVideo();
    })
    .click(function () {
        showNextVideo();
    })
    .mouseout(function () {
        hideNextVideo();
    });
    
    function showNextVideo()
    {
        var next_current_videoPosition = current_videoPosition + 1;
        play_specificList(current_specificlistId, next_current_videoPosition);
    }
    
    function explainNextVideo()
    {
        var nextVideoImage = document.getElementById("nextVideoImage");
        nextVideoImage.innerHTML = 
            "<img "+
            "style='"+
            "left: 0px; "+
            "position: absolute; "+
            "width:100%; "+
            "bottom:0px; "+
            "z-index: 1;' "+
            "src='files/"+next_video_image+"' alt='Mountain View'>"+
            "";
        nextVideoImage.style.display = "block";
    }
    
    function hideNextVideo()
    {
        var nextVideoImage = document.getElementById("nextVideoImage");
        nextVideoImage.style.display = "none";
    }
</script>